<section class="section is-what" id="what">
	<!-- l -->
	<div class="l" >
		<div class="l__in">
			<h3 class="title-small">OUR PROJECTS</h3>
			<!-- projects -->
			<div class="projects">
				<div class="projects__in">
					<a href="https://mbill.co/" class="project" target="_blank" style="background-image:url(/img/projects/Mbill.png)" rel="nofollow"></a>
          <a href="https://wallet.best/" class="project" target="_blank" style="background-image:url(/img/projects/mbank.png)" rel="nofollow"></a>
					<a href="https://gndf.io/" class="project" target="_blank" style="background-image:url(/img/projects/gndl.png)" rel="nofollow"></a>
          <a href="http://forza.md/" class="project" target="_blank" style="background-image:url(/img/projects/forza.png)" rel="nofollow"></a>
          <!-- <a href="http://jetpay.com.ua/" class="project" target="_blank" style="background-image:url(/img/projects/jetpay.png)" rel="nofollow"></a> -->
					<a href="http://payray.com.ua" class="project" target="_blank" style="background-image:url(/img/projects/payray.png)" rel="nofollow"></a>
					<a href="http://eppyk.com/" class="project" target="_blank" style="background-image:url(/img/projects/eppyk.png)" rel="nofollow"></a>
					<a href="http://parasportfoundation.org/" class="project" target="_blank" style="background-image:url(/img/projects/parasport.png)" rel="nofollow"></a>
					<a href="http://ipsp.com/" class="project" target="_blank" style="background-image:url(/img/projects/ipsp.png)" rel="nofollow"></a>
					<!-- <a href="http://schet.ru/" class="project" target="_blank" style="background-image:url(/img/projects/check.png)" rel="nofollow"></a> -->
					<a href="http://bestmt.ru/" class="project" target="_blank" style="background-image:url(/img/projects/best.png)" rel="nofollow"></a>
					<!-- <a href="#" class="project" target="_blank" style="background-image:url(/img/projects/DK.png)" rel="nofollow"></a> -->
				</div>
			</div>
		</div>
	</div>
</section>
