<section class="section is-what" id="what">
	<!-- l -->
	<div class="l" >
		<div class="l__in">
			<h3 class="title-small">OUR PROJECTS</h3>
			<!-- projects -->
			<div class="projects">
				<div class="projects__in">
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/mbank.png"  alt="">
					</a>
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/forza.png"  alt="">
					</a>
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/jetpay.png"  alt="">
					</a>
					<a href="https://apps.gndf.io/" class="project" target="_blank">
						<img src="/img/projects/gndl.png"  alt="">
					</a>
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/payray.png"  alt="">
					</a>
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/eppyk.png"  alt="">
					</a>
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/parasport.png"  alt="">
					</a>
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/ipsp.png"  alt="">
					</a>
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/check.png"  alt="">
					</a>
					<a href="#" class="project" target="_blank">
						<img src="/img/projects/best.png"  alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>